<h1>Posts</h1>

<%= for post <- @posts do %>
  <.article
    title={post.title}
    date={post.date}
    img={~p"/images/posts/#{post.thumbnail_image.year}/#{post.thumbnail_image.basename}"}
    href={~p"/makesure/#{post.id}"}
    badges={post.tags}
  >
    {post.description}
  </.article>
<% end %>
